# Collection Data Types

***There are four collection data types in the Python programming language:***


1.   List is a collection which is ordered and changeable. Allows duplicate members
2.   Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
3.   Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
4.   Dictionary is a collection which is ordered** and changeable. No duplicate members.

# List

Lists are the most versatile of Python's compound data types.

Lists are used to store multiple items in a single variable.

## *A list contains items separated by commas ( , ) and enclosed within square brackets [ ].*

In [ ]:
#For the Example

Linguistic = ["Sociolinguistics", "Psycholinguistics", "Forensic Linguistics", "Computing Linguistic"]

In [ ]:
print(Linguistic)

['Sociolinguistics', 'Psycholinguistics', 'Forensic Linguistics', 'Computing Linguistic']

## *List items are indexed, the first item has index [0], the second item has index [1] etc.*

In [ ]:
#For Example:

Linguistic[0]

'Sociolinguistics'

In [ ]:
#For Example:

Linguistic[1]

'Psycholinguistics'

In [ ]:
#For Example:

Linguistic[2]

'Forensic Linguistics'

In [ ]:
#For Example:

Linguistic[3]

'Computing Linguistic'

In [ ]:
#For Example:

Linguistic[4]


#It will be error, because list index out of the range

IndexError: ignored

## *The use of list in python could from any data types : int, float, and strings*

In [ ]:
#For the Example

Height = [160, 170.8, "One hundred and fifty five"]

In [ ]:
print(Height)

[160, 170.8, 'One hundred and fifty five']

In [ ]:
Height[0]

160

In [ ]:
type(Height[0])

int

In [ ]:
(Height[1])

170.8

In [ ]:
type(Height[1])

float

In [ ]:
(Height[2])

'One hundred and fifty five'

In [ ]:
type(Height[2])

str

In Python, list items are ordered.
Ordered means when we say that lists are ordered

It means that the items have a defined order, and that order will not change.

The index is start from [0], [1], etc

## *It also can be counted from the back by using minus [-]*

In [ ]:
Score = [80, 75.5, "ninety", 92, "one hundred"]

In [ ]:
Score[-1]

'one hundred'

In [ ]:
Score[-2]

92

## *List items also can be called in several number, by using [:]*

with the formula
**[n:n-1]**

In [ ]:
Score[0:3]

#It means that the data start from [0,1,2] only
#[3] data is uncounted (n:n-1)

[80, 75.5, 'ninety']

In [ ]:
Score[2:5]

#It means that the data start from [2,3,4] only
#[5] data is uncounted (n:n-1)

['ninety', 92, 'one hundred']

In [ ]:
Score[3:7]

#the data which out of index range will not make an error when using [:]
#the data just show [3,4], which data [5,6] are out of range
#but, if the data call only one, it will make an error data

[92, 'one hundred']

## List using empthy [ ] or null data

In [ ]:
#If the null is at the beginning, the data start from the beginning

Score[ :3]

[80, 75.5, 'ninety']

In [ ]:
#If the null is at the end, the data will finih until the end

Score[2: ]

['ninety', 92, 'one hundred']

In [ ]:
#the null can be used at minus data [-], both of at beginning and ending

Score[ :-1]

[80, 75.5, 'ninety', 92]

In [ ]:
#the null can be used at minus data [-], both of at beginning and ending
Score[-1: ]

['one hundred']

## List item using 3 parameter [0:0:0]

In [ ]:
print(Score)

[80, 75.5, 'ninety', 92, 'one hundred']

In [ ]:
Score[0:4:3]

#It means the data collected are started at [0] to [4] in python index, with step 3

[80, 92]

In [ ]:
Score[1:4:2]

#It means the data collected are started at [1] to [4] in python index, with step 2

[75.5, 92]

# Add List Items

##Append Items
To add an item to the end of the list, use the append() method:

In [ ]:
print(Score)

[80, 75.5, 'ninety', 92, 'one hundred']

In [ ]:
Score.append(89)

#the new item, will list at the end of the list

In [ ]:
print(Score)

[80, 75.5, 'ninety', 92, 'one hundred', 89]

# Extend List

To append elements from another list to the current list, use the extend() method.

In [ ]:
Score.extend(["fifty four",60.2,"Eighty three"])

#It will merge the new list at the end of the other list

In [ ]:
print(Score)

[80, 75.5, 'ninety', 92, 'one hundred', 89, 'fifty four', 60.2, 'Eighty three']

#**Insert**

The list insert is a built-in Python function that inserts an item to the list at the given index. The insert method accepts index and element as arguments and does not return any value, but it inserts the given element at the given index.

Syntax : list.insert(index, element)

In [ ]:
# Example
tea = ["ice tea", "green tea", "black tea", "sweet tea"]

In [ ]:
tea.insert(3,"sweet iced tea")

In [ ]:
print(tea)

['ice tea', 'green tea', 'black tea', 'sweet iced tea', 'sweet tea']

#**Remove**

To remove an element from the List in Python, use the List.remove method. The List remove is a built-in method that searches for the element in the List and removes the first matching item. The remove method does not return any value but removes the given object from the List.

Syntax : list.remove(item)

In [ ]:
# Example
years = [2017, 2018, 2019, 2020, 2021]

In [ ]:
years.remove(2020)

In [ ]:
print(years)

In [ ]:
# remove the element that doesn’t exist
years.remove(2022)

#**Del**

In Python everything is an object, so the keyword can also be used to delete variables, lists, or parts of a list etc.

**Note** : One thing to remember that while removing the elements, it counts the start index but not the end index. The last removed element's index is end index – 1. It does not include the end index.

Syntax : del list[start index: end index]

In [ ]:
# Example
name = ["James", "Robert", "David", "Michael","William"]

In [ ]:
del name[1:3]

In [ ]:
print(name)

In [ ]:
# clear the entire Python list or delete all items
del name[:]

In [ ]:
print(name)

# POP
pop () function is used to remove an element in the list (by default the last element), and returns the value of that element.

In [ ]:
#Suppose you find the variable y, where the variable is an array list type.
z = ["python", "php", "ruby", "java"]

In [ ]:
#The program code above, is a way to form a variable with type array list.
#If we display the z variable using the print() function, the program code is as below.
print(z)

['python', 'php', 'ruby', 'java']

In [ ]:
#Next, we want to remove one of these elements from the array list variable z.
#Let's say, we want to remove the ruby ​​element. In the variable z, the ruby ​​element is at the second index. Please note that the order of elements in the array list starts at index 0, then index 1, and so on.
z.pop(2)

'ruby'

In [ ]:
#From the print(z) display above, it appears that the variable list array element now consists of 3 elements, where the ruby ​​element is not in it. Now, the element occupying index 0 is python, and the last element or element 2 is java.
print(z)

['python', 'php', 'java']

#INDEX
The index() function is used to find the position of an element in an array list.

In [ ]:
#There are data variables of type array list in python programming, as below.
data = ["python", "java", "php", "matlab"]

In [ ]:
#want to get information about the position of one of the data variable elements. For that, we can use the help of the index() function.
data.index("python")

0

#Count

Python List count() is a function in Python that returns the count of how many times a given element occurs in a List. The count() function is used to count elements on a list as well as a string.

**Syntax** : list.count(element)

**Parameter** : *element* (required) - Any type (string, number, list, tuple, etc.), the element to search for

**Return** : count() method returns the count of how many times element occurs in the list

**Exception** : If more than one parameter is passed in count() method, it returns a *TypeError*.

In [ ]:
one = [0, 8, 1, 2, 6, 2, 7, 3, 4, 2, 3, 2, "name", "age",  "name"]
print(one)

In [ ]:
#count how many times element 2 occurs in the list 
#syntax = list.count(element)

one.count(2)

In [ ]:
#count how many times element "age" occurs in the list
#syntax = list.count(element)

one.count("age")

In [ ]:
#count how mant times element 3 and "name" occurs in the list
#syntax = list.count(element)

#one.count(3,"name")

#The result will TypeError because I use more than one parameter1

# LEN

LEN is used to return the number of items in an object

In [ ]:
l = [1,2,3,4,5]
print(len(l))

5

LEN will return the number of item in the list. If len applied to string, the return value will be the number of characters in string including the spacing

In [ ]:
len_string = "Farhan Nafily"
len(len_string)

13

#sort() 
sort() is used to help sort the disordered list

In [ ]:
g = [4,3,2,5,7,6,8,6,1,3]
g.sort(reverse = False)
print(g)

[1, 2, 3, 3, 4, 5, 6, 6, 7, 8]

#reverse()

reverse() is used to sort list in a descending manner based on the predetermined order

In [ ]:
f = [4,3,2,5,7,6,8,6,1,3]
f.reverse()
print(f)

[3, 1, 6, 8, 6, 7, 5, 2, 3, 4]

in order to sort descending numerically or alphabetically, we can utilize sort() and incorporate reverse = True within

In [ ]:
f = [4,3,2,5,7,6,8,6,1,3]
f.sort(reverse = True)
print(f)

[8, 7, 6, 6, 5, 4, 3, 3, 2, 1]

# Slicing

Slicing in python is a technic to slice some of object in dataset. Slicing can be done in many type of dataset like string, tuple, list, or range.

In [ ]:
slicing=[2,5,6,13.5,77,"potong","belah"]

In [ ]:
#stucture : variable_name[index_start:index stop+1]
slicing[4:7]

In [ ]:
#if the first index was blank, it will take the data from the first in dataset
slicing[:4]

In [ ]:
#if the last index was blank, it will take the data untill the last from dataset
slicing[2:]

In [ ]:
#if you want take a data from dataset, just write the index
slicing[5]

In [ ]:
#this function allow you to pass the data from the slice by adding one parameter after index parameter
slicing[2:8:2]

#Tuple
Tuple is data type in python which is ordered and can't be changed.
Tuple are written by round bracket. Tuple is faster than list, set, or dictionary because the order is fixed

In [ ]:
tulep=(44,52,"angka", 1, 4 ,"buang",1)
print(tulep)

In [ ]:
#slicing still can be done in tuple
tulep[2:5]

In [ ]:
#data in tuple are unchangeable unlike list
tulep[1]=100

#Set
Set is unordered data types in python. This mean you can't get the data from set by slicing it. Set element are unique. Set are written by curly bracket.

In [ ]:
#set just gonna emit the value when its unique
sett={2,1,44,4,4,21,1,2,88}
print(sett)

In [ ]:
# set can't call by just write the index. This because set just contain unique value
sett[2]

#Dictionary

Dictionary in Python is an unordered collection of data values, used to store data values like a map, which, unlike other Data Types that hold only a single value as an element, Dictionary holds key:value pair. Key-value is provided in the dictionary to make it more optimized. 
 

**Note**:  Keys in a dictionary don’t allow Polymorphism.

**Creating Dictionary**

Dictionary can be created by placing a sequence of elements within curly {} braces, separated by ‘comma’. Dictionary holds pairs of values, one being the Key and the other corresponding pair element being its Key:value. Values in a dictionary **can be of any data type and can be duplicated**, whereas keys **can’t be repeated and must be immutable**.

In [ ]:
dict_1 = {
    "group" : "Code",
    "member" : ["Almas", "Eri", "Farhan", "Intan", "Puji", "Rifki"],
    "number" : 6,
    1 : "Data Type (Number, String, Boolean)",
    2 : "Data Type Part 2 (List, Slicing, Tuple, Set, Dictionary)"
}

To access a data in dictionary, you should know the keys in dictionary. By calling ke key in dictionary, you can print the value by key.

**Syntax** : print ( dict [ key ] )

In [ ]:
print(dict_1['group'])

Code

In [ ]:
print(dict_1[2])

Data Type Part 2 (List, Slicing, Tuple, Set, Dictionary)

In [ ]:
print(dict_1['member'])

['Almas', 'Eri', 'Farhan', 'Intan', 'Puji', 'Rifki']

The key in dictionary can't be duplicate, it must be unique. If we create two or more keys with the same name, the value on first key will be overwrite by the second one.

In [ ]:
dict_2 = {
    "name" : "John",
    "age" : 12,
    "hobby" : "dancing",
    "age" : 17
}

In [ ]:
print(dict_2)

{'name': 'John', 'age': 17, 'hobby': 'dancing'}

**Changing and Adding Elements to a Dictionary**

Dictionaries are mutable. We can add new items or change the value of existing items using an assignment operator. If the key is already present, then the existing value gets updated. In case the key is not present, a new (key:value) pair is added to the dictionary.

**Syntax**: dict[ key ] = value

In [ ]:
dict_3 = {
    "name" : "Jane"
}

In [ ]:
print(dict_3)

{'name': 'Jane'}

In [ ]:
#Change the value in "name" key
dict_3["name"] = "Jessica"

In [ ]:
print(dict_3)

{'name': 'Jessica'}

In [ ]:
#Adding a new element (key:value) to dictionary
dict_3["address"] = "New York"

In [ ]:
print(dict_3)

{'name': 'Jessica', 'address': 'New York'}

In [ ]:
#Adding a new element with Tuple as a value to dictionary
dict_3["fav colors"] = "Blue", "Violet", "Pink"

In [ ]:
print(dict_3)

{'name': 'Jessica', 'address': 'New York', 'fav colors': ('Blue', 'Violet', 'Pink')}

# Conversion
Data type conversion is a technique of changing the initial value of data type a, to data type b.

In [ ]:
#Convert Integer to Float
#Python's float() method will convert an integer to a float. To use this function, add an integer inside the brackets:
float(57)

57.0

In [ ]:
print(float(57))

57.0

In [ ]:
type(float(57))

float

In [ ]:
#Convert Float to Integer.
#The int() function works much like the float() function: you can add a fractional number in parentheses to convert it to an integer:
int(60.5)

60

In [ ]:
print(int(60.5))

60

In [ ]:
type(int(60.5))

int

In [ ]:
#Converting Integer to String
#We can convert a number to a string using the str() method. We'll put a number or variable in the brackets of the method, then that numeric value will be converted to a string value.
str(12)

'12'

In [ ]:
print(str(12))

12

In [ ]:
type(str(12))

str